<form>
	<div>
		{{localize "FATEX-ADDON.INVENTORY.DIALOG.CONTAINER.ADD.Content"}}:
	</div>
	<div class="form-group">
		<label>{{localize "FATEX-ADDON.INVENTORY.CONTAINER.FIELDS.Name"}}:</label>
		<div class="form-fields">
			<input type="text" name="name" placeholder="{{localize "FATEX-ADDON.INVENTORY.CONTAINER.FIELDS.Name"}}"/>
		</div>
	</div>
</form>